<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mystyle.css') }}">
<title>Page Title</title>
</head>
<body>

<p class='heading'>Question #</p>
<div id="card">
<p id='question'>{{content}}</p>
</div>

<form id-"form" action = "{{url}}" method = "POST">
<label class="container">{{ans1}}
    <input type="radio" checked="checked" name="radio" value="1">
    <span class="checkmark"></span>
  </label>
  <label class="container">{{ans2}}
    <input type="radio" name="radio" value="2">
    <span class="checkmark"></span>
  </label>
  <label class="container">{{ans3}}
    <input type="radio" name="radio" value="3">
    <span class="checkmark"></span>
  </label>
  <label class="container">{{ans4}}
    <input type="radio" name="radio" value="4">
    <span class="checkmark"></span>
</label> 
<div class="button1">
    <button type="submit">Submit</button>
</div>
</form>
  
</body>
</html>